In [7]:
import pandas as pd
import matplotlib as plt

df_crypto = pd.read_csv('crypto-markets.csv')
df_oecd_cli = pd.read_csv('DP_LIVE_13092020162647694.csv')

In [8]:
df_crypto.head(10)

,slug,symbol,name,date,ranknow,open,high,low,close,volume,market,close_ratio,spread
0,bitcoin,BTC,Bitcoin,2013/04/28,1,135.30,135.98,132.10,134.21,0.0,1.488567e+09,0.5438,3.88
1,bitcoin,BTC,Bitcoin,2013/04/29,1,134.44,147.49,134.00,144.54,0.0,1.603769e+09,0.7813,13.49
2,bitcoin,BTC,Bitcoin,2013/04/30,1,144.00,146.93,134.05,139.00,0.0,1.542813e+09,0.3843,12.88
3,bitcoin,BTC,Bitcoin,2013/05/01,1,139.00,139.89,107.72,116.99,0.0,1.298955e+09,0.2882,32.17
4,bitcoin,BTC,Bitcoin,2013/05/02,1,116.38,125.60,92.28,105.21,0.0,1.168517e+09,0.3881,33.32
5,bitcoin,BTC,Bitcoin,2013/05/03,1,106.25,108.13,79.10,97.75,0.0,1.085995e+09,0.6424,29.03
6,bitcoin,BTC,Bitcoin,2013/05/04,1,98.10,115.00,92.50,112.50,0.0,1.250317e+09,0.8889,22.50
7,bitcoin,BTC,Bitcoin,2013/05/05,1,112.90,118.80,107.14,115.91,0.0,1.288693e+09,0.7521,11.66
8,bitcoin,BTC,Bitcoin,2013/05/06,1,115.98,124.66,106.64,112.30,0.0,1.249023e+09,0.3141,18.02
9,bitcoin,BTC,Bitcoin,2013/05/07,1,112.25,113.44,97.70,111.50,0.0,1.240594e+09,0.8767,15.74

In [9]:
df_oecd_cli.head(10)

,LOCATION,INDICATOR,SUBJECT,MEASURE,FREQUENCY,TIME,Value,Flag Codes
0,GBR,CLI,AMPLITUD,LTRENDIDX,M,2013-04,100.2969,NaN
1,GBR,CLI,AMPLITUD,LTRENDIDX,M,2013-05,100.5913,NaN
2,GBR,CLI,AMPLITUD,LTRENDIDX,M,2013-06,100.9006,NaN
3,GBR,CLI,AMPLITUD,LTRENDIDX,M,2013-07,101.2127,NaN
4,GBR,CLI,AMPLITUD,LTRENDIDX,M,2013-08,101.4960,NaN
5,GBR,CLI,AMPLITUD,LTRENDIDX,M,2013-09,101.7390,NaN
6,GBR,CLI,AMPLITUD,LTRENDIDX,M,2013-10,101.9333,NaN
7,GBR,CLI,AMPLITUD,LTRENDIDX,M,2013-11,102.0940,NaN
8,GBR,CLI,AMPLITUD,LTRENDIDX,M,2013-12,102.2299,NaN
9,GBR,CLI,AMPLITUD,LTRENDIDX,M,2014-01,102.3417,NaN