In [14]:
import numpy as np 
import pandas as pd
import sklearn.datasets as dt 

from sqlalchemy import create_engine

In [15]:
engine = create_engine('sqlite:///../data/orgs_customer_behaviours.db')

column_names = ['DID_TRIAL', 'PURCHASED_PREVIOUS_PRODUCT', 'AMOUNT_OF_LICENSES',
                'TERM_OF_LICENSE', 'HAS_TECH_DEPT', 'AMOUNT_OF_INTERACTIONS_W_SALES',
                'AMOUNT_OF_CALLS', 'AMOUNT_OF_MESSAGES', 'ENGAGED_WITH_MESSAGING', 
                'REACHED_NOT_ENGAGED_WITH_MESSAGING', 'ATTENDED_WEBINARS', 'WEBINAR_ATTENDANCE_SIZE']

In [21]:
df_org = pd.read_csv('../data/hd2019.csv', encoding='latin1')
synth_conversion = np.random.choice(['0','1'], len(df_org))
column_names = list(df_org.columns)
column_names.remove('UNITID')
print(column_names)
df_org_unitid = df_org.drop(column_names, axis=1)
df_org_unitid.insert(1, 'CONVERTED', synth_conversion)
df_org_unitid

['INSTNM', 'IALIAS', 'ADDR', 'CITY', 'STABBR', 'ZIP', 'FIPS', 'OBEREG', 'CHFNM', 'CHFTITLE', 'GENTELE', 'EIN', 'DUNS', 'OPEID', 'OPEFLAG', 'WEBADDR', 'ADMINURL', 'FAIDURL', 'APPLURL', 'NPRICURL', 'VETURL', 'ATHURL', 'DISAURL', 'SECTOR', 'ICLEVEL', 'CONTROL', 'HLOFFER', 'UGOFFER', 'GROFFER', 'HDEGOFR1', 'DEGGRANT', 'HBCU', 'HOSPITAL', 'MEDICAL', 'TRIBAL', 'LOCALE', 'OPENPUBL', 'ACT', 'NEWID', 'DEATHYR', 'CLOSEDAT', 'CYACTIVE', 'POSTSEC', 'PSEFLAG', 'PSET4FLG', 'RPTMTH', 'INSTCAT', 'C18BASIC', 'C18IPUG', 'C18IPGRD', 'C18UGPRF', 'C18ENPRF', 'C18SZSET', 'C15BASIC', 'CCBASIC', 'CARNEGIE', 'LANDGRNT', 'INSTSIZE', 'F1SYSTYP', 'F1SYSNAM', 'F1SYSCOD', 'CBSA', 'CBSATYPE', 'CSA', 'NECTA', 'COUNTYCD', 'COUNTYNM', 'CNGDSTCD', 'LONGITUD', 'LATITUDE', 'DFRCGID', 'DFRCUSCG']

      UNITID CONVERTED
0     100654         0
1     100663         1
2     100690         1
3     100706         0
4     100724         0
...      ...       ...
6554  494889         1
6555  494898         0
6556  494904         1
6557  494913         1
6558  494922         1

[6559 rows x 2 columns]

In [4]:
x, y = dt.make_classification(n_samples=1000, n_features=12, n_informative=6, n_repeated=0, n_redundant=4, random_state=42)

In [5]:
df_x = pd.DataFrame(x)
df_y = pd.DataFrame(y)

In [6]:
df_x.columns = column_names
df_y.columns = ['CONVERTED']

In [7]:
df_x.to_sql('synth_customer_behaviour_data', engine, if_exists='replace', index=False)
df_y.to_sql('synth_customer_target_classifier_data', engine, if_exists='replace', index=False)